[submodule "roles/apt"]
	path = roles/apt
	url = https://gitlab.com/eyeo/devops/ansible-role-apt
[submodule "roles/openssh"]
	path = roles/openssh
	url = https://gitlab.com/eyeo/devops/ansible-role-openssh
[submodule "roles/virtualbox"]
	path = roles/virtualbox
	url = https://gitlab.com/eyeo/devops/ansible-role-virtualbox
[submodule "roles/postgresql"]
	path = roles/postgresql
	url = https://gitlab.com/eyeo/devops/ansible-role-postgresql
[submodule "roles/mumble"]
	path = roles/mumble
	url = https://gitlab.com/eyeo/devops/ansible-role-mumble
[submodule "roles/apache2"]
	path = roles/apache2
	url = https://gitlab.com/eyeo/devops/ansible-role-apache2.git
[submodule "roles/gitlab"]
	path = roles/gitlab
	url = https://gitlab.com/eyeo/devops/ansible-role-gitlab.git
[submodule "roles/docker"]
	path = roles/docker
	url = https://gitlab.com/eyeo/devops/ansible-role-docker.git
[submodule "roles/tmate"]
	path = roles/tmate
	url = https://gitlab.com/eyeo/devops/ansible-role-tmate.git
[submodule "roles/mysql"]
	path = roles/mysql
	url = https://gitlab.com/eyeo/devops/ansible-role-mysql.git
[submodule "roles/eyeo"]
	path = roles/eyeo
	url = https://gitlab.com/eyeo/devops/ansible-role-eyeo.git
[submodule "roles/postfix"]
	path = roles/postfix
	url = https://gitlab.com/eyeo/devops/ansible-role-postfix.git
[submodule "roles/libvirt"]
	path = roles/libvirt
	url = https://gitlab.com/eyeo/devops/ansible-role-libvirt.git
[submodule "roles/monitoring-plugins"]
	path = roles/monitoring-plugins
	url = https://gitlab.com/eyeo/devops/utilities/monitoring-plugins.git
[submodule "roles/icinga"]
	path = roles/icinga
	url = https://gitlab.com/eyeo/devops/ansible-role-icinga.git
