# Copyright (c) 2018-present eyeo GmbH
#
# This module is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

# https://git-scm.com/docs/gitignore

# Fragments created locally by `bootstrap.yml` and  `gitlab-runner exec ...`
/builds/

# Avoid tracking of local host definitions
/host_vars/*
!/host_vars/*-0.test

# https://www.vagrantup.com/docs/other/environmental-variables.html#vagrant_dotfile_path
/.vagrant

# https://docs.ansible.com/ansible/latest/intro_configuration.html#retry-files-enabled
/*.retry

# https://docs.python.org/using/cmdline.html#envvar-PYTHONDONTWRITEBYTECODE
**/*.py[cob]

# https://www.python.org/dev/peps/pep-3147/
**/__pycache__

# https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
/.idea

# Backup files commonly created by text editors
**/*~
