[submodule "roles/apt"]
	path = roles/apt
	url = https://gitlab.com/eyeo/devops/ansible-role-apt
[submodule "roles/openssh"]
	path = roles/openssh
	url = https://gitlab.com/eyeo/devops/ansible-role-openssh
[submodule "roles/virtualbox"]
	path = roles/virtualbox
	url = https://gitlab.com/eyeo/devops/ansible-role-virtualbox
[submodule "roles/postgresql"]
	path = roles/postgresql
	url = https://gitlab.com/eyeo/devops/ansible-role-postgresql
[submodule "roles/mumble"]
	path = roles/mumble
	url = https://gitlab.com/eyeo/devops/ansible-role-mumble
[submodule "roles/apache2"]
	path = roles/apache2
	url = https://gitlab.com/eyeo/devops/ansible-role-apache2.git
